name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Package
        run: pwsh -ExecutionPolicy Bypass -File ./build.ps1
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: package.zip
          generate_release_notes: true
          fail_on_unmatched_files: true
